* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}
.main-container {
  width: 100%;
  height: 100vh;
  background-color: #202020;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.title {
  font-size: 5rem;
}
.text {
  font-size: 3rem;
  margin-bottom: 50px;
}
.computer-number {
  color: black;
  background-color: #ffffff;
  width: 150px;
  height: 150px;
  font-size: 120px;
  text-align: center;
  margin-bottom: 150px;
}
.computer-number::before {
  content: "";
  display: block;
  position: relative;
  right: 250px;
  top: 70px;
  width: 250px;
  height: 10px;
  background-color: #ffffff;
}
.computer-number::after {
  content: "";
  display: block;
  position: relative;
  left: 150px;
  bottom: 85px;
  width: 250px;
  height: 10px;
  background-color: #ffffff;
}
.container {
  display: flex;
  gap: 100px;
}
.input-container {
  display: flex;
  flex-direction: column;
}
.button {
  border: 0;
  background-color: #ffffff;
}
.again-button {
  width: 150px;
  height: 70px;
  position: relative;
  font-size: 40px;
  top: 50px;
  right: 50px;
  color: #000000;
}
.again-button:hover {
  cursor: pointer;
  background-color: #303030;
  color: #ffffff;
}
.again-button:active {
  background-color: #ffffff;
  color: #000000;
}
.changeBackground {
  background-color: rgb(36, 221, 36);
}
.youLoose {
  background-color: rgb(143, 15, 15);
  font-size: 4rem;
}
.your-number {
  border: 0;
  width: 100px;
  height: 100px;
  font-size: 60px;
  text-align: center;
  position: relative;
  right: 20px;
  bottom: 100px;
}
.check-button {
  width: 70px;
  height: 70px;
  font-size: 20px;
  position: relative;
  right: 5px;
  bottom: 50px;
}
.check-button:hover {
  cursor: pointer;
  background-color: #303030;
  color: #ffffff;
}
.check-button:active {
  background-color: #ffffff;
  color: #000000;
}
.results {
  display: flex;
  flex-direction: column;
  gap: 30px;
  font-size: 15px;
  position: relative;
  bottom: 105px;
  right: 50px;
}
